.menu {
    padding: 0;
    margin: 0;

    &-item {
        padding: 1rem;
        font: normal 400 24px/28px $heading-font-stack;
        color: $primary-color;
        list-style: none;
    }
}

.current-menu-item {
    color: $brand-color;
    font-style: italic;
}
