.post {
    &-meta {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint(600) {
            flex-direction: unset;
            gap: 4rem;
            margin-top: 3rem;
        }

        @extend %max-content-width;

        &__title {
            font-size: 17px;
            line-height: 22px;
            font-style: italic;
            margin-bottom: 0.5rem;

            @include breakpoint(600) {
                margin-top: unset;
            }

            @extend %heading-color;

            &--lg {
                font: normal 400 40px/46px 'Times Now Italic';
            }
        }

        &__text {
            font-size: 20px;
            line-height: 26px;
            margin-top: 0;

            @include breakpoint(600) {
                margin-top: unset;
            }

            @extend %heading-color;

            &--lg {
                font-size: 70px;
                line-height: 81px;
            }
        }

        &__link {
            font-family: 'Times Now', serif;
            margin-block: 1em;
        }
    }

    &-next {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 100%;

        @extend %max-content-width;

        * {
            margin: 0;
        }

        &__link {
            @extend %link;
        }
    }
}
