.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 250px;

    .admin-bar & {
        top: 46px;

        @include breakpoint(768) {
            top: 32px;
        }
    }
}
