.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;

    @include breakpoint(600) {
        position: fixed;
        width: 250px;
    }

    .admin-bar & {
        top: 46px;

        @include breakpoint(768) {
            top: 32px;
        }
    }
}
