.main {
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;

    @include breakpoint(600) {
        place-items: center;
    }

    &-navigation {
        width: 100vw;
        height: 100vh;
        padding-top: 3rem;
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Hide scrollbar in FF */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .mobile & {
            padding: 0;
            height: auto;
        }
    }

    &__link {
        flex: none;

        @include breakpoint(800) {
            margin-right: 10px;
        }

        @include breakpoint(1200) {
            padding: 0 2rem 0 0;
            margin-right: 4rem;
            margin-right: 25vw;
        }

        &-inner {
            @extend %link;

            font-size: 35px;
            line-height: 210%;
            padding-right: 40px;

            @include breakpoint(600) {
                line-height: 125%;
                padding: 1vh 60px;
                font-size: 6.5vh;
            }

            @media screen and (orientation: landscape) {
                font-size: 70px;
                line-height: 125%;
            }
        }
    }
}

.js body.page-template-poetry:not(.mobile) {
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
