.main {
    display: grid;
    place-items: center;

    @extend %body-height;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 4rem 3rem;
    }

    &__link {
        position: relative;
        font: normal 400 70px/160% $heading-font-stack;
        transition: color 350ms ease, transform 350ms ease;
        transform-origin: bottom left;

        &::before {
            content: '—';
            position: absolute;
            transition: opacity 350ms ease, transform 350ms ease;
            transform: translateX(-25px);
            opacity: 0;
            left: -85px;
        }

        &:hover {
            color: $brand-color;
            transform: skewX(-15deg) translateX(-7px);

            &::before {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__list {
        gap: 0;
        align-items: flex-end;
    }
}
