.main {
    display: grid;
    place-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 4rem 3rem;
    }

    &__link {
        position: relative;
        font: normal 400 70px/160% $heading-font-stack;

        @extend %link;
    }

    &__list {
        gap: 0;
        align-items: flex-end;
    }
}
