.main {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        position: relative;
        font-weight: 400;
        font-size: 70px;
        line-height: 160%;
        transition: color 350ms ease, transform 350ms ease;
        transform-origin: bottom left;

        &::before {
            content: '—';
            position: absolute;
            transition: opacity 350ms ease, transform 350ms ease;
            transform: translateX(-25px);
            opacity: 0;
            left: -85px;
        }

        &:hover {
            color: $brand-color;
            transform: skewX(-15deg) translateX(-7px);

            &::before {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}
