/**
 * Set up a decent box model on the root element
 */
html {
    box-sizing: border-box;
    height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    overflow-x: hidden;
    background-color: $white-color;
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 0.5rem;
}

img {
    margin: 40px;
}

figure {
    display: flex;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 350ms ease;

    &:hover {
        color: $brand-color;
    }
}

p,
hr {
    max-width: 650px;
}

hr {
    margin-block: 20px;
    width: 100%;
    opacity: 0.4;
}

blockquote {
    margin: 0;
    font-style: italic;

    p {
        font-style: italic;
    }
}
