.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: $white-color;
    z-index: 9;

    @include breakpoint(800) {
        position: fixed;
        width: 250px;
        background-color: unset;
    }

    .admin-bar & {
        @include breakpoint(768) {
            top: 32px;
        }
    }
}
