.main {
    position: relative;
    display: block;
    height: 100%;
    padding: 40px 20px 10px;

    @include breakpoint(600) {
        place-items: center;
    }

    img {
        aspect-ratio: 16/9;

        @include breakpoint(768) {
            margin-inline: 20px;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        transition: margin 500ms ease-out;
        transition-delay: 250ms;
        align-items: flex-start;

        @include breakpoint(600) {
            align-items: center;
            margin-top: 5.5rem;
            padding: 4rem 3rem 2rem;
        }

        @media screen and (orientation: landscape) {
            margin-top: 0;
        }

        h1 {
            padding-inline: 1rem;
        }
    }

    &-navigation {
        width: 100vw;
        height: 100vh;
        padding: 0;
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Hide scrollbar in FF */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .mobile & {
            padding: 0;
            height: auto;
        }
    }

    &__link {
        flex: none;
        // 100% of the screen / 8 links to fit the page.
        height: 12.5%;
        min-height: 96px;

        @include breakpoint(800) {
            margin-right: 10px;
        }

        @include breakpoint(1200) {
            padding: 0 2rem 0 0;
            margin-right: 4rem;
            margin-right: 25vw;
        }

        &-inner {
            @extend %link;

            font-size: 35px;
            line-height: 210%;
            padding-right: 40px;

            @include breakpoint(600) {
                line-height: 125%;
                font-size: 6.5vh;
            }

            @media screen and (orientation: landscape) {
                font-size: 70px;
                line-height: 125%;
            }
        }
    }

    h1 {
        margin-bottom: 50px;

        @include breakpoint(768) {
            margin-bottom: 100px;
        }

        & + img {
            margin-top: 0;
        }

        & + p {
            margin-top: -0.5rem;
        }
    }

    img + blockquote {
        @include breakpoint(768) {
            margin-top: 80px;
        }
    }
}

.js body.page-template-poetry:not(.mobile) {
    height: 100%;
    overflow: hidden;
}
