.page-template-default {
    .main {
        &-content {
            align-items: center;
            gap: 1.8rem;
        }
        h1 {
            margin-bottom: 0;
        }

        img {
            width: 100%;
            max-width: 235px;
            height: auto;
        }
    }
}
