.single-poem {
    .main {
        margin-bottom: 200px;

        @include breakpoint(768) {
            margin-bottom: 140px;
        }
    }

    img {
        max-width: 345px;
        width: 100%;
        height: auto;
    }
}
