/// Regular font family
/// @type List
$text-font-stack: 'Times Now', serif !default;

/// Main brand color
/// @type Color
$brand-color: #e20000 !default;

/// Primary color
/// @type Color
$primary-color: #000000 !default;

/// White color
/// @type Color
$white-color: #ffffff !default;

/// Near black color
/// @type Color
$near-black-color: #292a2c;

/// Text color
/// @type Color
$text-color: $near-black-color;
