/// Heading font family
/// @type List
$heading-font-stack: 'Times Now', serif !default;

/// Text font family
/// @type List
$text-font-stack: 'Lora', serif !default;

/// Main brand color
/// @type Color
$brand-color: #e20000 !default;

/// Primary color
/// @type Color
$primary-color: #000000 !default;

/// White color
/// @type Color
$white-color: #ffffff !default;

/// Near black color
/// @type Color
$near-black-color: #292a2c;

/// Heading color
/// @type Color
$heading-color: $primary-color;

/// Text color
/// @type Color
$text-color: $near-black-color;

/// Screen height
/// @type Length
$screen-height: 100vh;

/// Media queries
/// @type List
$media-queries: (
    320: 320px,
    375: 375px,
    425: 425px,
    480: 480px,
    540: 540px,
    600: 600px,
    640: 640px,
    768: 768px,
    800: 800px,
    900: 900px,
    960: 960px,
    1024: 1024px,
    1080: 1080px,
    1140: 1140px,
    1200: 1200px,
    1280: 1280px,
    1300: 1300px,
    1310: 1310px,
    1400: 1400px,
    1440: 1440px,
    1600: 1600px,
    1820: 1820px,
);
