/// Heading font family
/// @type List
$heading-font-stack: 'Times Now', serif !default;

/// Text font family
/// @type List
$text-font-stack: 'Lora', serif !default;

/// Main brand color
/// @type Color
$brand-color: #e20000 !default;

/// Primary color
/// @type Color
$primary-color: #000000 !default;

/// White color
/// @type Color
$white-color: #ffffff !default;

/// Near black color
/// @type Color
$near-black-color: #292a2c;

/// Heading color
/// @type Color
$heading-color: $primary-color;

/// Text color
/// @type Color
$text-color: $near-black-color;

/// Adminbar height
/// @type Length
$adminbar-height: 46px;

/// Adminbar height desktop
/// @type Length
$adminbar-height-desktop: 32px;

/// Screen height
/// @type Length
$screen-height: 100vh;
