.menu {
    display: flex;
    justify-content: space-around;
    padding: 18px 0 0;
    margin: 0;

    @include breakpoint(800) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
    }

    &-item {
        @extend %link;

        font: normal 400 24px/28px $heading-font-stack;
        color: $primary-color;
        list-style: none;
        transition: color 350ms ease, transform 150ms ease;
        padding: 0;

        &::before {
            top: 50%;
            width: 25px;
            right: unset;
            left: -1rem;
        }

        &:hover {
            &::after {
                content: none;
            }
        }

        &__link {
            display: block;
            padding: 1rem;
        }
    }

    &-primary-container {
        width: 100%;
    }
}

.current-menu-item {
    font-family: 'Times Now Italic';
    font-style: normal;
    color: $brand-color;

    .menu-item__link {
        &:hover {
            transform: none;
        }
    }
}
