.menu {
    display: flex;
    justify-content: space-around;
    padding: 35px 0 0;
    margin: 0;

    @include breakpoint(800) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
    }

    &-item {
        font: normal 400 24px/28px $heading-font-stack;
        color: $primary-color;
        list-style: none;
        transition: color 350ms ease;

        &:hover {
            font-family: 'Times Now Italic';
            font-style: italic;
        }

        &__link {
            display: block;
            padding: 1rem;
        }
    }

    &-primary-container {
        width: 100%;
    }
}

.current-menu-item {
    font-family: 'Times Now Italic';
    font-style: italic;
    color: $brand-color;

    .menu-item__link {
        &:hover {
            transform: none;
        }
    }
}
