.post {
    &-meta {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px 50px;

        @include breakpoint(600) {
            flex-direction: unset;
            margin-top: 3rem;
        }

        @extend %max-content-width;

        &__title {
            font-size: 17px;
            line-height: 22px;
            font-style: italic;
            margin-bottom: 1.1rem;

            @include breakpoint(600) {
                margin-top: unset;
            }

            @extend %heading-color;

            &--lg {
                font: normal 400 40px/46px 'Times Now Italic';
            }
        }

        &__text {
            font-size: 20px;
            line-height: 26px;
            margin-block: 0;

            @extend %heading-color;

            &--lg {
                font-size: 70px;
                line-height: 81px;
            }
        }

        &__link {
            @extend %link;
            font-size: inherit;
            font-family: 'Lora', serif;
            padding: 0;

            &::before {
                top: 50%;
                width: 25px;
                right: unset;
                left: -2rem;
            }

            &:hover {
                font-style: normal;

                &::after {
                    height: 1px;
                    top: 100%;
                    left: 0;
                }
            }
        }
    }

    &-next {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 100%;

        @extend %max-content-width;

        * {
            margin: 0;
        }

        &__link {
            @extend %link;
            font-family: 'Times Now', sans-serif;

            &:hover {
                font-family: 'Times Now Italic';
            }
        }
    }
}
