@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

%link {
    transform-origin: bottom left;
    transition: color 350ms ease, transform 350ms ease, font-size 500ms ease-out;
    font-family: 'Times Now', serif;
    position: relative;
    cursor: pointer;
    font-size: 7vw;
    padding: 0.5rem;
    display: block;
    color: v.$text-color;
    transition: transform 0.2s;

    @include breakpoint(768) {
        padding: 1vh 0;
        font-size: 9.5vh;
    }

    &:hover {
        font-family: 'Times Now Italic';
        transform: translate3d(2rem, 0, 0);
        color: v.$brand-color;

        &::before {
            opacity: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -5.5rem;
            right: 0;
            height: 100%;
        }

        @include breakpoint(768, max) {
            transform: unset;

            &:hover,
            &:active {
                color: v.$text-color;
            }

            &::before,
            &::after {
                display: none;
            }
        }
    }

    &:active,
    &:focus {
        color: #000000;
    }

    &::before {
        content: '';
        top: 55%;
        width: 3.5rem;
        height: 1px;
        background: currentColor;
        position: absolute;
        right: calc(100% + 2rem);
        opacity: 0;
        pointer-events: none;
    }
}
