@use '../abstracts/variables' as *;

%text-underline {
    position: relative;

    &:hover {
        font-style: italic;

        &::after {
            background-color: $brand-color;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.035rem;
        width: 100%;
        background-color: $text-color;
        transition: background-color 250ms ease;
    }
}
